*{
    padding: 0;
    margin: 0;
}
html{
    margin: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
}
body{
    background-color: black;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}
#game{
    margin: auto;
    height: 100%;
    width: 100%;
    background-image: url("imgs/background.png");
    background-size: 200% 100%;
    background-color: rgb(154, 154, 245);
    overflow: hidden;
}
#character{
    background-color: none;
    background-image: url("imgs/character.gif");
    background-size: cover;
    width: 30px;
    height: 60px;
    position: relative;
    margin-bottom: -60px;
    top: 400px;
    left: 10px;
}
.platforms{
    width: 190px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-bottom: -25px;
    position: relative;
}
#platform1{
    top: 460px;
}
#platform2{
    top: 350px;
    left: 600px;
}
.beam{
    width: 1000px;
    height: 2px;
    background-color: red;
    position: relative;
    top: 1000px;
    animation: scaler linear infinite;
    animation-duration: 1.5s;
}
#score{
    text-align: center;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    user-select: none;
}
.TextBlock{
    background-color: rgba(17, 17, 17, 0.829);
    width: 70%;
    height: 70%;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10%;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    animation: block 1s;  
    position: relative; 
}
p{
    color: white;
    margin-top: 10%;
    font-size: 45px;
    user-select: none;
}
.Buttons{
    background-color: black;
    margin: 30% auto;
    width: 200px;
    height: 100px;
    user-select: none;
    color: white;
    font-size: 30px;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 20px;
}
.Buttons:active{
    scale:1.3;
}
.jump_animation{
    animation: jump1 0.3s linear;
}
@keyframes jump1{
    0%{rotate: 0deg}
    100%{rotate: 360deg}
}
@keyframes scaler{
    0%{
        scale:1;
        opacity:0;
    }
    90%{
        scale:1;
        opacity:0.4;
    }
    100%{
        scale:3;
        opacity:1;
    }
}
@keyframes block{
    from{
    opacity:0;
    left:100px;
    }
    to{
        left:0px;
        opacity:1;}
}